      body {
         background-image: url("bj/bjDCX.png");
         background-repeat: no-repeat;
         background-position: top center;
         background-size: 100% 100%;
         background-attachment: fixed;
      }

      .button {
         display: flex;
      }

      * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         border-radius: 15px;
      }

      .topk {
         display: flex;
         justify-content: center;
         width: 1920px;
         height: 125px;
      }

      .top {
         width: 1845px;
         height: 70px;
         background-color: #ffffffe7;
         margin-top: 20px;
         /* border-radius: 30px; */
         position: fixed;
         margin-right: 20px;
      }
      .top>h3{
         margin-top: 20px;
         margin-left: 20px;
         display: inline-block;
      }
      .top>h4{
         margin-top: 20px;
         margin-left: 1370px;
         text-align: end;
         display: inline-block;
      }

      .large {
         display: flex;
         justify-content: space-evenly;
         width: 1400px;
         flex-wrap: wrap;
         margin-top: -35px;
         margin-left: 325px;
         align-content: space-around;
      }

      .left {
         width: 100px;
         height: 530px;
         background-color: white;
         margin-top: 115px;
         margin-left: 250px;
         /* border-radius: 30px; */
         overflow: hidden;
         position: fixed;
         top: 0;
         left: 0;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
      }

      .p {
         text-align: center;
         background-color: #fff;
         border-radius: 10px 10px 0 0;
         margin: 50px 0 30px 0;
         font-size: 30px;
      }

      .left>a {
         text-decoration: none;
         color: black;
         display: block;
         background-color: #ffffff;
         text-align: center;
         font-size: 25px;
         height: 100px;
         margin-top: 2px;
      }
      .left img {
        border-radius: 0%;
         text-align: center;
         height: 35px;
         margin-top: 30px;
      }

      .left>a:hover {
         background-color: #f8f8f8;
      }

      .right {
         width: 600px;
         height: 180px;
         background-color: #fff;
         margin-top: 25px;
         /* border-radius: 30px; */
         display: flex;
         padding-right: 20px;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
         clear: both;
      }

      .right>img {
         width: 130px;
         height: 130px;
         border-radius: 30px;
         margin: 20px;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
      }

      .right h3 {
         margin: 20px 0 0 20px;
         font-size: 30px;
         color: #333;
      }

      .right p {
         margin: 0 0 0 20px;
         font-size: 20px;
         color: #666;
      }

      .right a {
         text-decoration: none;
         color: white;
         background-color: #007bff;
         padding: 10px 40px;
         /* border-radius: 50px; */
         margin: 20px 10px 20px 0px;
         align-self: center;
         display: block;
         font-size: 10px;
         justify-content: end;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
      }
      .right>a>img {
         height: 35px;
      }

      .txt {
         display: flex;
         flex-direction: column;
         justify-content: start;
         margin-left: 20px;
         width: 261px;
      }

      .right_ad {
         width: 800px;
         height: 325px;
         background-color: #fff;
         margin-top: 25px;
        margin-left: -35px;
         /* border-radius: 30px; */
         display: flex;
         padding-right: 20px;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5)
      }

      .right_id {
         width: 450px;
         height: 425px;
         background-color: #fff;
         margin-top: 25px;
         /* border-radius: 30px; */
         display: flex;
         padding-right: 20px;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5)
      }

      .adleft {
         
         height: 325px;
         border-radius: 10px 0 0 10px;
      }

      .adright>h3 {
         font-size: 30px;
         color: black;
         margin-top: 20px;
      }

      .adright {
         width: 200px;
         text-align: center;
         margin-left: 30px;
      }

      .adright>p {
         font-size: 20px;
         color: #666;
         margin-top: 10px;
      }

      .anl {
         width: 30px;
         height: 30px;
         background-color: #cfcfcf;
         border-radius: 50%;
         margin-top: 155px;
         margin-right: 30px;
         display: inline-block;
         color: #ffffff;
      }

      .anr {
         width: 30px;
         height: 30px;
         background-color: #cfcfcf;
         border-radius: 50%;
         margin-top: 155px;
         margin-left: 30px;
         display: inline-block;
         color: #ffffff;
      }

      .right_id {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 350px;
         height: 325px;
         margin-right: -30px;
      }

      .right_id img {
         width: 100px;
         height: 100px;
         /* border-radius: 30px; */
         display: block;
         margin: 30px 125px 20px 150px;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
      }

      .right_id a {
         font-size: 30px;
         font-weight: bold;
         text-decoration: none;
         color: #333;
         margin-right: 75px;
         margin-left: 100px;
      }

      .right_id p {
         font-size: 20px;
         color: #666;
         text-align: center;
         margin-right: 75px;
         margin-left: 100px;
      }

      /* .idnl {
         width: 30px;
         height: 30px;
         background-color: #cfcfcf;
         border-radius: 50%;
         margin-top: 25px ;
         margin-right: 70px;
         display: inline-block;
         color: #ffffff;
      }
      .idnr {
         width: 30px;
         height: 30px;
         background-color: #cfcfcf;
         border-radius: 50%;
         margin-top: 25px ;
         margin-left: 70px;
         display: inline-block;
         color: #ffffff;
      } */
      .db {
         float: right;
         background-color: #5aaaff9d;
         height: 80px;
         width: 80px;
         position: fixed;
         margin-left: 1400px;
         margin-top: 700px;
         border-radius: 50px;
         opacity: 0;
      }

      .db>p {
         margin-top: 10px;
         text-align: center;
         color: #ffffff;
         font-size: 40px;

      }