      body {
         background-image: url("bj/bjDCX.png");
         display: flex;
         background-repeat: no-repeat;
         background-position: top center;
         background-size: 100% 100%;
         background-attachment: fixed;
      }

      * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
      }

      .large {
         display: flex;
         justify-content: space-evenly;
         width: 1595px;
         flex-wrap: wrap;
         margin-left: 325px;
         align-content: space-around;
      }

      .left {
         width: 300px;
         height: 900px;
         background-color: white;
         margin-top: 25px;
         margin-left: 25px;
         border-radius: 30px;
         overflow: hidden;
         position: fixed;
         top: 0;
         left: 0;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
      }

      .p {
         text-align: center;
         background-color: #fff;
         border-radius: 30px 30px 0 0;
         margin: 50px 0 30px 0;
         font-size: 30px;
      }

      .left>a {
         text-decoration: none;
         color: black;
         display: block;
         background-color: #ffffff;
         text-align: center;
         font-size: 25px;
         height: 100px;
         margin-top: 2px;
      }

      .left>a:hover {
         background-color: #f8f8f8;
      }

      .right {
         width: 750px;
         height: 201px;
         background-color: #fff;
         margin-top: 25px;
         border-radius: 30px;
         display: flex;
         padding-right: 20px;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5)
      }
      .right img {
         width: 160px;
         height: 160px;
         border-radius: 30px;
         margin: 20px;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
      }
      .right h3 {
         margin: 20px 0 0 20px;
         font-size: 40px;
         color: #333;
      }
      .right p {
         margin: 0 0 0 20px;
         font-size: 20px;
         color: #666;
      }
      .right a {
         text-decoration: none;
         color: white;
         background-color: #007bff;
         padding: 10px 40px;
         border-radius: 50px;
         margin: 20px 10px 20px 100px;
         align-self: center;
         display: block;
        font-size: 20px;
        justify-content: end;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
      }
      .txt {
         display: flex;
         flex-direction: column;
         justify-content: start;
         margin-left: 20px;
         width: 261px;
      }
      .right_ad {
         width: 1050px;
         height: 425px;
         background-color: #fff;
         margin-top: 25px;
         border-radius: 30px;
         display: flex;
         padding-right: 20px;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5)
         
      }
      .right_id {
         width: 450px;
         height:425px ;
         background-color: #fff;
         margin-top: 25px;
         border-radius: 30px;
         display: flex;
         padding-right: 20px;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5)
      }
      .adleft{
         width: 748px;
         height: 425px;
         border-radius: 30px 0 0 30px;
      }
      .adright>h3 {
         font-size: 50px;
         color: black;
         margin-top: 20px;
      }
      .adright {
         width: 302px;
        text-align: center;
      }
      .adright>p {
         font-size: 20px;
         color: #666;
         margin-top: 10px;
      }
      .anl {
         width: 30px;
         height: 30px;
         background-color: #cfcfcf;
         border-radius: 50%;
         margin-top: 225px ;
         margin-right: 70px;
         display: inline-block;
         color: #ffffff;
      }
      .anr {
         width: 30px;
         height: 30px;
         background-color: #cfcfcf;
         border-radius: 50%;
         margin-top: 225px ;
         margin-left: 70px;
         display: inline-block;
         color: #ffffff;
      }
      .right_id {
         display: flex;
         flex-direction: column;
         align-items: center;
         ;
      }
      .right_id img {
         width: 180px;
         height: 180px;
         border-radius: 30px;
         display: block;
         margin: 30px 125px 20px 150px ;
         box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
      }
      .right_id a {
            font-size: 40px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
            margin-right: 125px;
            margin-left: 150px;
      }
      .right_id p {
         font-size: 20px;
         color: #666;
         text-align: center;
         margin-right: 100px;
         margin-left: 125px;
      }